
.section-info{
	background: #ffca3a;
	text-align: center;
	padding-top: 20px;
	position: relative;
}
.section-info_title{
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 40px;
}
.info-items_title{
	margin-top: 45px;
	margin-bottom: 22px;
}
@media (max-width: 991px){
	.info-items_title{
		margin-top: 5px;
		margin-bottom: 40px;
	}
}
@media (max-width: 991px){
	.section-info_title h2{
		font-size: 30px;
	}
	.section-info_title{
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.info-items_title{
		margin-bottom: 34px;
	}
	.section-info{
		padding-bottom: 10px;
	}
}
