#allrecords h2 a {
	color: #4674B7 !important;
}

.product-block .descr {
	height: 190px;
}

.product-block-lg .textwrapper {
	padding-left: 320px;
	width: unset;
}

.product-block-lg .textwrapper h5 {
	height: 50px;
}

.product-block-lg hr {
	margin: 30px 0;
}

.price {
	float: right;
	font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #4674B7;
    font-weight: bold;

}