@font-face{
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans-Bold/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans-Bold/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FiraSans-Bold/FiraSans-Bold.woff2') format('woff2'),
       url('../fonts/FiraSans-Bold/FiraSans-Bold.woff') format('woff'),
       url('../fonts/FiraSans-Bold/FiraSans-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
  font-family: 'FiraSans-Light';
  src: url('../fonts/FiraSans-Light/FiraSans-Light.eot');
  src: url('../fonts/FiraSans-Light/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FiraSans-Light/FiraSans-Light.woff2') format('woff2'),
       url('../fonts/FiraSans-Light/FiraSans-Light.woff') format('woff'),
       url('../fonts/FiraSans-Light/FiraSans-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
  font-family: 'FiraSans-Medium';
  src: url('../fonts/FiraSans-Medium/FiraSans-Medium.eot');
  src: url('../fonts/FiraSans-Medium/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FiraSans-Medium/FiraSans-Medium.woff2') format('woff2'),
       url('../fonts/FiraSans-Medium/FiraSans-Medium.woff') format('woff'),
       url('../fonts/FiraSans-Medium/FiraSans-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSans-Regular/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans-Regular/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FiraSans-Regular/FiraSans-Regular.woff2') format('woff2'),
       url('../fonts/FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
       url('../fonts/FiraSans-Regular/FiraSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
  font-family: 'FlangeBQ';
  src: url('../fonts/FlangeBQ/FlangeBQ.eot');
  src: url('../fonts/FlangeBQ/FlangeBQ.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FlangeBQ/FlangeBQ.woff2') format('woff2'),
       url('../fonts/FlangeBQ/FlangeBQ.woff') format('woff'),
       url('../fonts/FlangeBQ/FlangeBQ.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}