@import url(fonts.css);
header{
	text-transform: uppercase;
}
h1, h2, h3{
	font-family: 'FlangeBQ', sans-serif!important;
	color: #383330!important;
}
h1{
	font-size: 60px!important;
}
h2{
	font-size: 36px!important;
}
h4{
	font-size: 26px!important;
	font-family: 'FiraSans-Regular', sans-serif!important;
	color: #b2ad90!important;
}
h5{
	font-family: 'FiraSans-Light', sans-serif;
	font-size: 22px!important;
}
p{
	font-family: 'FiraSans-Regular', sans-serif;
	font-size: 16px!important;
}
span{
	font-family: 'FiraSans-Medium', sans-serif;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.container-fluid{
	max-width: 1920px;
}
header{
	background: url(../img/bg-header2.jpg) 50% 100% repeat-x,
							url(../img/bg-header1.jpg) #f3f3f3;
}
nav{
	padding-left: 40px;
	padding-right: 40px;
}
.container-header{
	background: url(../img/coffee.png) 100% 100% no-repeat;
}
.new{
	font-size: 254px!important;
	color: rgba(3, 151, 213, 0.06);
	font-family: 'FlangeBQ', sans-serif;
	letter-spacing: 90px;
	position: absolute;
	top: 10%;
	right: 20%;
	pointer-events: none;
}
.coffee-title{
	margin-top: 105px;
}
.coffee-title h5{
	color: #b78c78;
	margin-bottom: 50px;
}
.price{
	font-family: 'FiraSans-Bold', sans-serif;
	font-size: 40px;
	color: #51920b;
	display: inline-block;
	margin-right: 25px;
	margin-top: 5px;
	padding-bottom: 15px;
}
.price i{
	font-size: 34px;
	padding-left: 15px;
}
.footer a,
.btn-store,
.order-btn,
.contacts_email,
.advantage a,
svg,
.btn-store.order{
	-webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.buy{
	margin-top: 155px;
	margin-bottom: 130px;
}
.order-btn{
	width: 170px;
	height: 60px;	
	border-radius: 43px;
	background: #75c51e;
	box-shadow: 0 0 0 13px rgba(117, 197, 30, .2);
	font-family: 'FiraSans-Regular', sans-serif;
	color: #fff;
	font-size: 22px;
	border: none;
	text-transform: uppercase;
}
.order-btn.blue{
	background: #0297d4;
	width: 170px;
	height: 60px;	
	box-shadow: 0 0 0 13px rgba(77, 182, 225, .1);
	box-sizing: content-bo; 
	border: none;
	margin-left: 13px;
}
.btn-store{
	background: inherit;
	height: 41px;
	width: 115px;
	border-radius: 20px;
	border: 1px solid #c87d59;
	color: #b78c78;
	font-family: 'FiraSans-Regular', sans-serif;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
	text-transform: uppercase;

}
.btn-store.order{
	float: none;
	width: 170px;
	height: 58px;
	border-radius: 30px;
	font-size: 22px;
	margin:90px 0 100px 0;
	background: #f7f2d6;
}
.btn-store:hover{
	background: #c87d59;
	color: #fff;
}
.order-btn:hover{
	box-shadow: 0 0 0 13px rgba(117, 197, 30, .5);
	background: #63b807;
}
.order-btn.blue:hover{
	background: #007bad;
	box-shadow: 0 0 0 13px rgba(77, 182, 225, 1);   
}
.logo{
	padding-top: 40px;
	float: left;
}
.container-contacts{
	float: right;
	margin-top: 20px;
}
.contacts{
	float: right;
}
.contacts_tel{
	font-size: 22px;
	font-family: 'FiraSans-Medium', sans-serif!important;
}
.contacts_email{
	font-family: 'FiraSans-Regular', sans-serif;
	font-size: 16px;
	color: #b78c78;
	text-transform: none;
	text-decoration: underline;
	display: block;
	margin-top: -8px;
}
.contacts_email:hover{
	color: #5c3e37;
}
.title{
	text-align: center;
	text-transform: uppercase;
}
nav:after{
  content: '';
  display: table;
  clear: both;
}
.bg_info{
	background: url(../img/bg-info2.png) no-repeat 100% 0%;
	-webkit-background-size: contain;
	background-size: contain;
}
.info{
/*	background: url(../img/bottom-info.png) repeat-x 50% 100%;*/
	-webkit-background-size: contain;
	background-size: contain;
	padding:30px 0 50px 0!important;
}
.info p{
	color: #857a73;
}
.info span{
	color: #383330;
}
.info-img{
	width: 600px;
	height: 446px;
	background: url(../img/bg-info.png) no-repeat 50% 50%;
	line-height: 500px;
	text-align: center;
	opacity: 0.9;
	-webkit-background-size: contain;
	background-size: contain;
}
.history{
	margin-top: 118px;
}
.advantage{
	text-align: center;
}
.advantage a{
	font-size: 14px!important;
    font-family: 'FiraSans-Medium', sans-serif!important;
    color: #967662;
}
.advantage div{
	width: 100px;
	height: 130px;
	margin: 0 auto;
}
.advantage svg{
	width: 100px;
	fill: #967662;
	color: #967662;
	position: relative;
	bottom: -23px;
	padding: 30px;
}
.advantage p:hover{
	color: #504c49;
	fill: #504c49;
}
.advantage svg:hover{
	fill: #504c49;
	color: #504c49;
}
.advantage a:focus,
.advantage a:hover{
	color: #504c49;
	text-decoration: none;
}
.step{
	text-align: center;
	padding-top: 200px;
	background: url(../img/kofejnoe-zerno.png) no-repeat 100% 15%,
							url(../img/kofejnye-zerna.png) no-repeat -1% 15%, 
							url(../img/bg-trace.png) no-repeat 100% 50%, 
							url(../img/bottom-info.png) repeat-x 50% 0,
							url(../img/bg-step.png) #f3eed2;
	position: relative;
  bottom: -2px;
}
.step h3{
	font-size: 22px!important;
}
.step h4{
	font-size: 16px!important;
	color: #61534c!important;
}
.step p{
	font-size: 13px!important;
	font-family: 'MyriadPro-Regular', sans-serif;
	color: #978e83;
}
.step img{
	width: 100%;
	max-width: 170px;
}
.step_arrow{
	margin-top: 40px;
	padding-left: 10px;
}
.recall img{
	width: 140px;
	margin: 70px 0 45px 0;
}
.recall{
	margin: 50px 0 70px 0;
}
.carousel-control{
	opacity: 1!important;
	width: 25%!important;
}
.carousel-control.right,
.carousel-control.left{
	background-image: none!important;
}
.carousel-control svg{
	width: 28px;
	position: absolute;
	top: 65%;
	fill: #977763;
}
.carousel-control svg:hover{
	fill: #383330;
}
.recall h4,
.recall h2{
	text-transform: uppercase;
}
.recall h4{
	font-size: 26px!important;
	color: #b2ad90!important;
}
.recall .recall_city,
.recall p{
	font-size: 16px!important;
}
.recall_name{
	margin-top: 50px;
}
.item{
	background: url(../img/quote.png) no-repeat 80% 70%;
}
.run{
	background: url(../img/run.png) repeat-x 50%,
				url(../img/bg-step.png) repeat-x 0 -1px #30211c;
	height: 905px;
}
.run_title{
	margin-top: 300px;
}
.run_bg-step-coffee{
	background: url(../img/bg-step-coffee.png) no-repeat 90% 50%;
	height: 100%;
}
.run_title h2,
.run_title h4{
	color: #fff!important;
}
.run_title h2{
	text-transform: uppercase;
}
.run_title h4{
	font-size: 22px!important;
	margin-bottom: 40px;
}
.footer{
	background: #30211c;
	padding: 70px 0 30px 0;
	margin-top: -1px;
}
.footer p{
	color: #fff;
	font-family: 'FiraSans-Medium', sans-serif;
}
.footer a{
	font-family: 'FiraSans-Regular', sans-serif;
	color: #bc988c;
	text-decoration: underline;
}
.footer a i{
	font-size: 14px;
	margin-left: 5px;
}
.footer .logo{
	padding: 0 0 15px 40px;
}
.vk{
	display: block;
	margin-top: 15px;
}
.vk svg{
	width: 45px;
	fill: #bc988c;
}
.footer a:hover,
.vk svg:hover{
	fill: #fff;
	color: #fff;
}
.modal-order{
	text-align: center;
}
.modal-order .modal-dialog{
	max-width: 780px;
	width: 100%;
}

.modal-order .modal-content{
	background: #30211c;
	border-radius: 0;
	-webkit-box-shadow: 1px 15px 100px 0px rgba(0, 0, 0, .5);
	box-shadow: 1px 15px 100px 0px rgba(0, 0, 0, .5);
}
.modal-order .modal-header{
	border: none;
	padding-top: 50px;
}
.modal-order .modal-title{
	font-family: 'FlangeBQ' !important;
	font-size: 26px !important;
	color: #fff !important;
}
.modal-order .close{
	height: 18px;
	width: 18px;
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 1;
}
.modal-order .close:hover{
	opacity: 1;
}
.modal-order .close span{
	display: inline-block;
	width: 23px;
	height: 2px;
	background: #bababa;
	position: absolute;
	right: 0;
	transform-origin: center;
	transform: rotate(45deg);
}
.modal-order .close span:last-child{
	transform: rotate(-45deg);
}
.modal-order .close:hover span{
	background: #fff;
}
.modal-order input{
	height: 50px;
	width: 100%;
	max-width: 320px;
	
	background: inherit;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	
	font-family: 'FiraSans-Regular';
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	text-align: center;
	transition: .2s;
}
.modal-order input:focus{
	outline: none;
	border-bottom: 1px solid #fff;
	color: #fff;
}
.modal-order .order-btn{
	display: block;
	margin: 65px auto;
}
.modal-backdrop.in{
	opacity: 0.8 !important;
}
.modal-backdrop{
	background: #fff !important;
}
.modal-info{
	margin-top: 40px;
	color: #ccc;
	font-family: 'MyriadPro-Regular', sans-serif;
}
.modal-info a{
	color: #ccc;
	text-decoration: underline;
}
.modal-info a:hover{
	color: #ccc;
}
@media (max-width: 1200px){
	.new{
		right: 10%;
	}
}
@media (max-width: 991px){
	.info-img{
		width: 436px;
		margin: 0 auto;
	}
	.info-img img{
		width: 100%;
	}
	.step_arrow--sm-disnon{
		display: none;
	}
	.step_arrow{
		margin-top: 140px;
	}
	.new{
		font-size: 200px!important;
		right: -15px;
	}
}
@media (max-width: 767px){
	.coffee-title {
    margin-top: 50px;
	}
	nav {
    padding-left: 15px;
    padding-right: 15px;
	}
	.logo {
    padding-top: 20px;
    margin-right: 10px;
	}
	.container-contacts{
		margin-top: 10px;
}
	.coffee-title h5 {
    margin-bottom: 20px;
	}
	.container-header{
		-webkit-background-size: 330px;
		background-size: 330px;
	}
	.new{
		display: none;
	}
	.history{
		margin-top: 15px;
	}
	.step_arrow{
		display: none;
	}
	.carousel-control svg{
		display: none;
	}
	.bg_info{
		background:url(../img/bg-info2.png) no-repeat 50% 100%;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.advantage{
		width: 29.9%;
	}
	.run_bg-step-coffee{
		-webkit-background-size: 250px;
		background-size: 250px;
		background-position: 50% 100%;
	}
	.run_title {
    margin-top: 150px;
    text-align: center;
	}
	.vk,
	.footer_contacts p{
		padding-left: 23px;
	}
	.item{
		-webkit-background-size: 100px;
		background-size: 100px;
		background-position: 95% 70%;
	}
}
@media (max-width: 550px){
	.btn-store{
		float: left;
		clear: left;
	}
}
@media (max-width: 500px){
	.container-contacts{
		float: left;
	}
	.step{
	background: url(../img/kofejnoe-zerno.png) no-repeat 100% 15%,
							url(../img/bg-trace.png) no-repeat 100% 50%, 
							url(../img/bottom-info.png) repeat-x 50% 0,
							url(../img/bg-step.png);
	}
}
@media (max-width: 480px){
	.coffee-title h1{
		font-size: 35px!important;
	}
	.container-header{
		-webkit-background-size: 280px;
		background-size: 280px;
	}
	.buy{
		margin-top: 50px;
		margin-bottom: 290px;
	}
	.btn-store.order{
		margin-bottom: 0;
	}
	.info-img{
		width: 100%;
		height: 350px;
    line-height: 396px;
	}
	.contacts {
		float: left;
		margin-top: 6px;
	}
	.contacts_tel{
		font-size: 18px;
	}
	.contacts_email{
		font-size: 12px;
	}
	.step{
		padding-top: 90px;
	}
}
