@charset "UTF-8";
body {
  padding-bottom: 80px; }

.container-fluid {
  padding: 0;
  position: relative;
  max-width: 767px; }

nav {
  position: fixed;
  max-width: 767px;
  width: 100%;
  z-index: 2; }

.nav-top {
  background: #000; }

.nav-bottom {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 65px; }

.logo img {
  max-width: 150px;
  padding: 10px; }

.content {
  max-width: 800px;
  width: 100%;
  margin-top: 113px; }

.tip {
  margin-top: 8px; }
  .tip .btn-group {
    margin: 0 auto !important; }

.tip .btn {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  min-width: 130px; }

.tip .btn.active {
  z-index: 0; }

.content-tip {
  background: #fff;
  text-align: center;
  -webkit-box-shadow: inset -4px -4px 20px 0px rgba(0, 0, 0, 0.26);
          box-shadow: inset -4px -4px 20px 0px rgba(0, 0, 0, 0.26); }

.content-tip .btn {
  padding-top: 16px;
  padding-bottom: 0; }

.right {
  float: right; }

.left {
  float: left; }

.full-user {
  border-left: 3px solid #6FE37B; }

.not-full-user {
  border-left: 3px solid #ddd; }

.user {
  padding: 5px 15px; }

.user img {
  width: 50px;
  float: left; }

.question-open p,
.photo-open p,
.user p {
  font-size: 20px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px; }

#all-user {
  background: #fff; }

#all-user ul {
  padding: 26px 0 0 15px; }

#all-user li {
  display: inline-block;
  width: 25px;
  margin-right: 3px;
  padding-bottom: 20px; }

#all-user img {
  width: 25px; }

.user-progress {
  position: absolute;
  top: 87%; }

.user-progress ul {
  padding-left: 15px; }

.user-progress li {
  width: 25px;
  height: 3px;
  background: #ddd;
  margin-right: 3px;
  display: inline-block; }

.user-progress .full {
  background: #6FE37B; }

.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 15px; }

.mCSB_draggerRail {
  margin-bottom: 0 !important; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 11px; }

.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised, .btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised .btn {
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised, .btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised .btn,
.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised .btn.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: inherit; }

.mCSB_dragger_bar {
  background: #6fe37b !important; }

.photo-open,
.question-open {
  margin-top: 25px;
  height: 55px;
  background: #fff;
  border-left: 5px solid #ddd; }

.photo-open.full,
.question-open.full {
  border-left: 3px solid #6FE37B; }

#photo-form,
#question-form {
  background: #fff; }

#question-form label {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif !important;
  color: #000 !important; }

.togglebutton {
  border-left: 3px solid #6FE37B;
  padding: 15px; }

.foto-form_block {
  padding: 15px 20px 15px 10px;
  background: #fff;
  margin-bottom: 10px;
  -webkit-transition: .2s;
  transition: .2s;
  overflow: hidden;
  line-height: 45px;
  position: relative; }

.loaded {
  border-left: 5px solid #6FE37B; }

.foto-form_icon img {
  max-width: 45px;
  width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  float: left;
  margin-right: 5px; }

.foto-form_icon p, .foto-form_icon a {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin: 0;
  line-height: 16px; }

.foto-form_icon a {
  font-size: 14px;
  display: block;
  line-height: 1; }

.zagruzit-foto {
  margin-top: 10px; }

.zagruzit-foto {
  color: #6FE37B !important;
  font-size: px;
  margin: 0;
  padding: 4px;
  background: none !important;
  -webkit-transition: .2s;
  transition: .2s; }

.file-input-wrapper {
  text-align: right;
  float: right;
  margin-top: 8px; }

.file-input-name {
  position: absolute;
  right: 25px;
  margin-top: 15px; }

.btn-buy {
  position: fixed;
  bottom: 15px;
  width: 100%;
  z-index: 2; }
  .btn-buy .btn-success {
    padding-left: 45px;
    padding-right: 45px;
    margin: 0 auto;
    display: block;
    width: 200px;
    font-size: 18px; }
    .btn-buy .btn-success span {
      display: block;
      font-size: 18px; }

.btn-formalize {
  float: left; }

.phone-number label,
.form-group_email label {
  color: #000;
  font-size: 18px !important; }

.onoffswitch {
  position: relative;
  width: 60px;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #eee;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: 0%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "Нет";
  padding-left: 8px;
  background-color: #fff;
  color: #aaa;
  color: #aaa; }

.onoffswitch-inner:after {
  content: "Да";
  padding-right: 8px;
  background-color: #6FE37B;
  color: #fff;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 22px;
  margin: 0px;
  background: #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #eee;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: -55px; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 38px !important;
  background-color: #fff; }
