body{
	position: relative;
	overflow: hidden;
}
.container-fluid{
	min-width: 767px;
	max-width: 1920px;
}
p, label{
	font-family: 'Ubuntu', sans-serif !important;
}
li{
	list-style-type: none;
}
.right{
	float: right;
}
.left{
	float: left;
}
nav{
	position: fixed;
	z-index: 1;
	left: 0;
	width: 100%;
}
.aside-left{
	background: #fff;
	width: 60px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}
.aside-left ul{
	padding-left: 0;
	margin-top: 150px;
	text-align: center;
}
.aside-left ul li{
	padding: 5px 0;
	border-left: 5px solid #fff;
	transition: .2s;
}
.aside-left ul .active{
	border-left: 5px solid #6FE37B; 
}
.aside-left ul li:hover{
	border-left: 5px solid #6FE37B;
}
.aside-left img{
	width: 35px;
}
.aside-right{
	background: #222;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	z-index: 2;
}
.nav-top{
	background: #000;
}
.nav-bottom{
	background: #fff;
	padding-right: 200px;
	height: 75px;
	border-left: 5px solid #6FE37B;
}
.user{
	padding: 5px 15px;
}
.user img{
	width: 60px;
	float: left;
}
.logo{
	padding: 15px;
}
.user p{
	font-size: 20px;
	display: inline-block;
	padding-top: 15px;
	padding-left: 15px;
}
.logo img{
	max-width: 150px;
}
.nav-bottom .c100.small{
	font-size: 55px;
	margin-top: 10px;
	margin-right: 25px;
}
.c100 > span{
	color: #000;
}
.aside-right{
	padding-top: 60px;
}
.aside-right .c100:after{
	background: #222;
}
.nav-bottom .c100 > span{
	width: 3.4em;
    line-height: 3.4em;
    font-size: 0.3em;
}
.aside-right .c100.small{
	font-size: 90px;
}
.aside-right .c100 > span{
	width: 3.4em;
    line-height: 3.4em;
    font-size: 0.3em;
    color: #fff;
}
.all-progress .c100{
	margin-left: 50px;
}
.content{
/*	margin-top: 170px;
	margin-left: 75px;
	margin-right: 215px;*/
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 170px;
	padding-right: 215px;
}
.content-bottom{
	height: 50vh;
}
.content-top{
	margin-bottom: 35px;
}
.content-top .btn{
	padding-left: 0;
	padding-right: 0;
	border-bottom: 3px solid #eee;
	margin: 0 4px;
}
.content-top .btn.active,
.content-top .btn:hover,
.content-top .btn:focus{
	box-shadow: none !important;
	background: none !important;
}
.content-top .btn:hover{
	border-bottom: 3px solid rgba(111, 227, 123, .3)!important;
}

.form-price {
    text-align: center;
}
.form-price .btn-success {
    padding-left: 45px;
    padding-right: 45px;
}
.form-price .btn-success span {
    display: block;
    font-size: 18px;
}
.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised,
.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised .btn{
	box-shadow: none;
}
.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised .btn.active{
	box-shadow: none;
	background: inherit;
}
hr{
	height: 3px;
	background: #6FE37B!important;
	margin-top: 0;
	width: 16.6%;
	margin-left: 0;
	transition: .2s;
	margin-top: -14px;
	position: relative;
	z-index: 2;
}
.question-form,
.foto-form{
	background: #fff;
	width: 48%;
}
.question-form{
	margin-right: 1%;
	padding-left: 0;
}
.question-form label {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif !important;
    color: #000;
}
.togglebutton{
	padding: 10px 0 15px 15px;
	border-left: 5px solid #6FE37B;
}
.togglebutton:last-child{
	margin-bottom: 70px;
}
.togglebutton.disable{
	border-left: 5px solid #ccc!important;
}
.foto-form{
	margin-left: 1%;
}
.foto-form_block{
	padding: 15px 20px 15px 10px;
}
.loaded{
	border-left: 5px solid #6FE37B;
}
.foto-form_icon img{
	max-width: 50px;
	width: 100%;
}
.foto-form_icon p{
	padding-left: 5px;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
.zagruzit-foto{
	margin-top: 10px;
}
.zagruzit-foto i{
	color: #6FE37B;
	transition: .2s;
}
.zagruzit-foto i:hover{
	font-size: 32px;
}

/*Checkbox*/
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #eee; border-radius: 6px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Нет";
    padding-left: 8px;
    background-color: #fff; color: #aaa;
}
.onoffswitch-inner:after {
    content: "Да";
    padding-right: 8px;
    background-color: #6FE37B; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 0px;
    background: #fff;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #eee; border-radius: 6px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #ddd; 
}

.enable .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -55px;
}
.enable .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 38px!important; 
    background-color: #fff; 
}
.enable .onoffswitch-switch{
	right: 0;
	background: #ddd;
}
.enable .onoffswitch-inner:before, .enable .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.enable .onoffswitch-inner:before {
    content: "Нет";
    padding-left: 8px;
    background-color: #fff; color: #aaa;
}
.enable .onoffswitch-inner:after {
    content: "Да";
    padding-right: 8px;
    background-color: #6FE37B; color: #fff;
    text-align: right;
}
.enable .onoffswitch-inner {
    display: block; width: 200%; margin-left: 0%;
    transition: margin 0.3s ease-in 0s;
}
/*End Checkbox*/
/*ScrollBar*/

/*End ScrollBar*/
@media (max-width: 1420px){
	.content{
		margin-top: 170px!important;
		margin-left: 75px!important;
		margin-right: 215px!important;
		padding-right: 0;
	}
}