li {
  list-style: none; }

ul {
  padding-left: 0; }

textarea {
  position: absolute;
  z-index: 1;
  right: 0; }

#header-fixed-add-filter,
#header-fixed-people-list,
#header-fixed {
  position: fixed;
  top: 60px;
  display: table;
  background-color: #fff; }

#header-fixed th {
  padding-right: 5px;
  vertical-align: top; }
  #header-fixed th .btn {
    margin-top: 17px; }

#header-fixed-add-filter .add-filter_btn {
  margin-right: 5px; }

.new {
  background: rgba(38, 239, 53, 0.2) !important; }

.form-add-people {
  position: relative !important; }

table {
  background: #fff; }

.navbar-brand img {
  max-width: 150px;
  margin-top: -6px; }

.navbar-brand h1 {
  margin: 0;
  margin-top: -10px;
  font-size: 28px; }

.navbar-brand p {
  font-size: 15px; }

.middle-content {
  padding: 0; }

.second-screen .navbar-brand img,
.filter-list .navbar-brand img,
.edit-bot .navbar-brand img {
  max-width: 45px;
  margin-top: -12px;
  float: left;
  margin-right: 15px; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.aside-right {
  width: 350px;
  background: #eee;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  z-index: 1; }
  .aside-right a {
    font-size: 25px; }

.datepicker-period,
.search-title {
  margin-bottom: 5px; }

.datepicker-period input {
  border-color: #2c3e50; }

.datepicker-period label {
  background: #2c3e50;
  border: 1px solid #2c3e50;
  color: #fff; }

.search-title input {
  border-color: #798d8f; }

.search-title span {
  background: #798d8f;
  border: 1px solid #798d8f;
  color: #fff; }

.datepicker--day-name {
  color: #18bc9c; }

.aside-right_tab {
  background: #fff;
  padding-top: 25px;
  border-left: 1px solid #eee; }

.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.send {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25px;
  text-align: center; }
  .send a {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
    margin-left: 10px;
    margin-right: 10px; }
  .send .copy,
  .send .delete {
    border: 3px solid #2c3e50;
    background: #fff;
    color: #2c3e50; }
    .send .copy:hover,
    .send .delete:hover {
      background: #c50f1e;
      color: #fff;
      border-color: #c50f1e; }
  .send .copy:hover {
    background: #6d9fd2;
    border-color: #6d9fd2; }
  .send .ok {
    background: #2c3e50;
    color: #fff;
    line-height: 40px; }
    .send .ok:hover {
      background: #74b752; }

.name {
  margin-top: 6px;
  font-size: 18px; }

section {
  margin-right: 350px; }
  section .people {
    padding: 0;
    padding-right: 15px;
    overflow-y: auto; }

.section-bottom {
  padding-right: 350px;
  padding-top: 90px;
  height: 100vh;
  position: absolute;
  bottom: 0;
  border: 1px solid #dce4ec;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .section-bottom .data {
    margin-top: -1px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .section-bottom .data-overflow {
      overflow: auto; }
    .section-bottom .data td, .section-bottom .data th {
      border: 1px solid #dce4ec;
      max-width: 21px;
      overflow: auto; }
      .section-bottom .data td p, .section-bottom .data th p {
        height: 20.5px;
        text-align: left; }
    .section-bottom .data table {
      vertical-align: middle;
      text-align: center; }

table {
  font-weight: bold; }
  table tr {
    height: 60px;
    line-height: 60px; }
    table tr th {
      padding-left: 12px !important; }
      table tr th input {
        vertical-align: middle; }
  table td {
    padding-left: 12px !important;
    padding-top: 20px !important; }
  table input {
    vertical-align: middle; }

.bot-name {
  margin-top: 30px; }

.logo-upload {
  width: 65px;
  height: 65px;
  margin-top: -30px;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative; }
  .logo-upload:hover {
    border-color: #2c3e50; }
  .logo-upload_btn {
    width: 61px !important;
    height: 61px;
    font-size: 13px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #2c3e50 !important;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s; }
    .logo-upload_btn:hover {
      opacity: .7; }
    .logo-upload_btn span {
      width: 65px !important;
      word-wrap: break-word;
      text-align: center; }
  .logo-upload img {
    width: 100%; }

.timeline time {
  color: #838484;
  position: absolute;
  top: 3px;
  left: 8px; }

.timeline .dropdown-menu li {
  position: relative; }

.timeline .dropdown-menu a {
  padding-left: 50px; }

.timeline .btn.title {
  background-color: #798d8f !important;
  border-color: #74898a !important; }

.btn .badge {
  float: right; }

.filter-people {
  height: 140px;
  border: 2px solid #dce4ec;
  margin-top: 10px;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-transition: .2s;
  transition: .2s; }
  .filter-people:hover {
    border-color: #2c3e50; }
  .filter-people_content ul li {
    display: inline-block;
    margin: 5px;
    color: #2c3e50; }
  .filter-people_content ul .btn-default {
    background-color: #d5dcdc;
    border-color: #d5dcdc; }
    .filter-people_content ul .btn-default:hover {
      background-color: #798d8f;
      border-color: #798d8f; }
    .filter-people_content ul .btn-default i {
      padding-left: 5px; }
    .filter-people_content ul .btn-default a {
      font-size: 15px;
      color: #2c3e50; }

.sorting {
  margin-top: 65px;
  width: 200px; }
  .sorting ol {
    padding-left: 15px; }
    .sorting ol li {
      list-style-type: decimal;
      padding-bottom: 5px; }
      .sorting ol li:last-child {
        list-style-type: none;
        margin-left: -15px; }
        .sorting ol li:last-child:before {
          content: "+";
          padding-right: 5px; }
  .sorting a {
    font-size: 15px;
    color: #2c3e50; }
  .sorting i {
    padding-left: 15px; }
  .sorting input {
    float: right; }
  .sorting .form-control {
    height: 25px;
    width: 185px; }
  .sorting-btn {
    margin-top: -7px; }
    .sorting-btn a {
      display: block;
      font-size: 22px;
      width: 15px;
      height: 15px;
      text-decoration: none !important; }
      .sorting-btn a i {
        width: 15px;
        height: 15px; }

.select-time {
  width: 200px; }

.yes {
  background: rgba(24, 188, 156, 0.2) !important; }

.no {
  background: rgba(255, 41, 0, 0.1) !important; }

.none {
  background: rgba(255, 238, 8, 0.2) !important; }

.filter-list .section-bottom {
  padding-right: 0;
  padding-left: 0; }
  .filter-list .section-bottom .data td,
  .filter-list .section-bottom .data th {
    max-width: inherit;
    text-align: center; }

.filter-list .data-overflow {
  padding: 0;
  overflow: auto; }

.filter-list section {
  margin-right: 0; }

.filter-list .data .btn {
  float: right;
  padding: 5px 10px; }

.filter-list .data .btn-group {
  float: right; }

.filter-list .badge {
  float: left;
  margin: 4px 5px 0 0; }

.filter-list table {
  margin-bottom: 0; }
  .filter-list table p {
    float: left;
    margin-right: 20px; }

.information table th {
  text-align: center; }

.information .btn {
  padding: 5px 10px; }

.btn-accept-group {
  display: none;
  width: 74px; }
  .btn-accept-group .delete {
    margin: 0 1px;
    width: 35px; }
  .btn-accept-group .accept {
    margin: 0 1px;
    width: 35px; }

.second-screen nav .badge {
  float: left !important;
  margin: 4px 5px 0 0; }

.second-screen .btn-accept-group {
  display: block; }

.add-filter {
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.26);
          box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.26);
  margin-top: -1px !important; }
  .add-filter-input {
    width: 68%; }

.filter-list .section-bottom {
  padding-top: 57px; }

.filter-list .add-filter-input {
  width: 60%;
  margin-right: 15px; }

.data {
  padding: 0; }
  .data.people {
    overflow: auto; }
  .data-table th {
    min-width: 230px; }

.title {
  overflow: auto; }
  .title .active a {
    background: #ecf0f; }
  .title a {
    padding: 5px 15px;
    height: 95px;
    overflow: auto;
    display: block;
    line-height: 1.2;
    color: #2c3e50;
    padding-left: 65px; }
    .title a:hover {
      background: #ecf0f1;
      text-decoration: none; }
  .title ul {
    display: table;
    margin-bottom: 0; }
  .title li {
    display: table-cell;
    width: 350px;
    overflow-y: auto;
    position: relative; }

.mCustomScrollbar-content .tab-content {
  width: 1500px; }

.people-list {
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.26);
  padding-right: 0;
  padding-left: 0;
  margin-top: -1px;
  z-index: 1; }
  .people-list tr {
    border: 1px solid #dce4ec !important; }
  .people-list td {
    padding-top: 19px !important;
    padding-bottom: 17px !important; }
  .people-list .search {
    padding-right: 15px; }
  .people-list button {
    font-size: 11px; }

.filter-people-list td {
  padding-top: 14px !important; }

.new .btn-accept-group {
  display: block; }

.new .add-filter_btn {
  display: none; }

.list-control .section-bottom {
  padding-top: 57px; }

.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0; }

.share:hover {
  background: #fff; }

.share a {
  font-size: 20px; }
  .share a i {
    font-size: 22px;
    padding-left: 5px; }

.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  width: initial !important; }

.table-people {
  margin-top: 25px; }

@media (max-width: 1440px) {
  .send {
    position: static;
    padding: 25px 0; }
  .aside-right {
    overflow: auto; } }
